.el-table {
  .el-table__row {
    .cell {
      line-height: 40px;
      vertical-align: top;
    }
    .hero-avatar {
      height: 40px;
      margin-right: 5px;
      vertical-align: top;
    }
  } 
}
